@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Luckiest+Guy&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
     font-size:1.7rem ;
     font-family: 'Luckiest Guy', sans-serif;;
     background-color: #2c3e50;
     color: white;
     padding: 4rem;

}
h1{
    text-align: center;
    margin-bottom: 5rem ;
    font-size: 4rem;
}
.all-products{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.product{
    overflow:hidden;
    background: silver;
    text-align: center;
    width: 240px;
    height: 330px;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    transition: all 0.3;
    font-size: 1.2rem;    ;

}

.product:hover{
    box-shadow: 5px 15px 25px #eeeeee
}

.product:hover img {
    scale: 1.1;
}
.product img {   
    margin: 1rem;
    border-radius: 1rem;
    transition: all 0.3;
}

.button-btn{
    border: darkblue;
    color:darkblue ;
    background: #fbfbfb;
    padding: 1.2rem 3rem;
    border-radius: 1rem;
    margin-top: 0.6rem;
    font-size: 1rem;

}

.button-btn:hover{
    transform: scale(1.1);
}

